/* Deep-orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #f4511e;
  --primary-hover: #e64a19;
  --primary-focus: rgba(244, 81, 30, 0.125);
  --primary-inverse: #fff;
}

/* Deep-orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #f4511e;
    --primary-hover: #ff5722;
    --primary-focus: rgba(244, 81, 30, 0.25);
    --primary-inverse: #fff;
  }
}

/* Deep-orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #f4511e;
  --primary-hover: #ff5722;
  --primary-focus: rgba(244, 81, 30, 0.25);
  --primary-inverse: #fff;
}

/* Deep-orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100%;
  padding: 1rem;
}

.station {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.station-direction {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.station-direction:hover,
.station-direction:active {
  transform: scale(0.95);
}

.station-tag {
  padding: 0.5rem;
  border-radius: 5px;
  display: inline;
  color: #fff;
  margin-right: 0.5rem;
}

.tag-red {
  background-color: firebrick;
}
.tag-blue {
  background-color: dodgerblue;
}
.tag-green {
  background-color: forestgreen;
}
.tag-teal {
  background-color: teal;
}
.tag-purple {
  background-color: slateblue;
}
.tag-orange {
  background-color: darkorange;
}


/* Leaflet - Circumvent PicoCSS-Styles affecting the Map */
.leaflet-container [role="button"] {
  background-color: unset;
  box-shadow: none;
  border-color: transparent;
  padding: 0;
}

.leaflet-container .leaflet-bar a {
  background-color: #ffffff;
  border-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
  .leaflet-container .leaflet-bar a {
    background-color: #555555;
    border-color: #333333;
    color: #cccccc;
  }
}
